@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Montserrat;
}
@property --naranja {
  syntax: "<color>";
  inherits: true;
  initial-value: #F48222;
}
@media(max-width:768px){
nav{
    height: 50px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    color: var(--naranja);
}
.buscador-input{
    border: solid 1px var(--naranja);
    height: 27px;
    width: 30%;
    border-radius: 10px;
    color: var(--naranja);
}
/* cuerpo */


/* Final del cuerpo */

/* Footer */
footer {
    background-color: var(--naranja);
    color: white;
    padding: 35px 25px;
    
}
footer > section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footlogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.footlogo img {
    width: 150px;
}
.footlogo small {
    font-size: 13px;
    font-style: italic;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footmenu ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.footmenu li {
    font-size: 14px;
    text-decoration: underline;
}
.footredes ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.footredes li {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 14px;
}
.footredes img {
    width: 25px;
    height: 25px;
}
.ElTextoLargo {
    margin-top: 30px;
}
.ElTextoLargo small {
    display: block;
    font-size: 9px;
    line-height: 1.15;
    font-style: italic;
    text-align: justify;
}
/* Final del footer*/ 


}

#valores{
    width: 100%;
    height: auto;
    background-color: var(--naranja);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
}
.titulo{
    width: 80%;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border-bottom: 3px solid white;
}
.valor{
    width: 45%;
    display: flex;
    padding-right: 5px;
    
}
.valor img{
    width: 70px;
    margin: 5px;
}
.infoV{
    margin: 0 auto;
}
.infoV h3{
    color: white;
}
#novedades{
    width: 100%;
    height: auto;
}
#cont{
    position: relative;
    display: inline-block;
}
#cont img{
    width: 100%;
    height: 400px;
    filter: brightness(40%);
    display: block;
}
#info-cont{
    width: 70%;
    position: absolute;
    top: 8%;
    left: 50%;
    margin-left: 10px;
    transform: translateX(-50%);
}
#info-cont h2, h3{
    color: var(--naranja);
}
#info-cont p{
    color: white;
}
input[type="email"]{
    width: 90%;
    height: 20px;
    border-radius: 999px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}
input[type="button"]{
    width: 95%;
    height: 40px;
    border-radius: 999px;
    padding: 10px 20px;
    border: none;
    background-color: var(--naranja);
    color: white;
    font-weight: bold;
}


