@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Montserrat;
}
@property --naranja {
  syntax: "<color>";
  inherits: true;
  initial-value: #F48222;
}
@media(max-width:768px){
nav{
    height: 50px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    display: flex;
    color: var(--naranja);
}
.buscador-input{
    border: solid 1px var(--naranja);
    height: 27px;
    width: 30%;
    border-radius: 10px;
    color: var(--naranja);
}
/* cuerpo */


/* Final del cuerpo */

/* Footer */
footer {
    background-color: #f58200;
    color: white;
    padding: 30px 24px;
}
footer section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footlogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.footlogo img {
    width: 145px;
    height: auto;
}
.footlogo small {
    font-size: 12px;
    font-style: italic;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footmenu ul {
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.footmenu li {
    font-size: 14px;
    text-decoration: underline;
    line-height: 1.2;
}
.footredes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footredes li {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 14px;
}
.footredes img {
    width: 24px;
    height: 24px;
}
.ElTextoLargo {
    margin-top: 25px;
}
.ElTextoLargo small {
    display: block;
    font-size: 8px;
    line-height: 1.05;
    font-style: italic;
    text-align: justify;
}

/* Final del footer*/ 


}

#valores{
    width: 100%;
    background-color: var(--naranja);
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
}
#titulo{
    width: 100%;
    grid-column: 1 / 3;
    color: white;
    text-align: center;
    margin: 0 auto;
    border-bottom: 3px solid white;
}
.valor{
    display: flex;
    align-items: center;
    gap: 10px;
}
.valor img{
    width: 60px;
    flex-shrink: 0;
}
.infoV{
    margin: 0;
}
.infoV h3{
    color: white;
    margin: 0;
}
#novedades{
    width: 100%;
    height: auto;
}
#cont{
    position: relative;
    display: inline-block;
}
#cont img{
    width: 100%;
    height: 450px;
    filter: brightness(40%);
    display: block;
}
#info-cont{
    width: 70%;
    position: absolute;
    top: 8%;
    left: 50%;
    margin-left: 10px;
    transform: translateX(-50%);
    
}
#info-cont h2, #info-cont h3{
    color: var(--naranja);
}
#info-cont p{
    color: white;
}
input[type="email"]{
    width: 90%;
    height: 20px;
    border-radius: 999px;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}
input[type="button"]{
    width: 95%;
    height: 40px;
    border-radius: 999px;
    padding: 10px 20px;
    border: none;
    background-color: var(--naranja);
    color: white;
    font-weight: bold;
}


